# Entornos virtuales
env/
venv/
.conda/

# Archivos de configuración y credenciales de seguridad
.env
*.json
!config/db_connect.json # Excluir si es plantilla sin datos sensibles

# Cachés de Python e IDEs
__pycache__/
.vscode/
.ipynb_checkpoints/


# Para acticar el entorno virtual, puedes usar el siguiente comando en tu terminal:
# conda activate tfm_ai
raw_analyst_headlines.csv
raw_analyst_ratings.csv